#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

#############
## Python
#############

*.py[co]

# Packages
*.egg
*.egg-info
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg

#############
## Processend data
#############

*.png
*.mp4
*.dat
*.bin
*.dat